<h1 class="page-header">CSS3</h1>
<blockquote>
  <p>CSS3 is the latest standard for CSS.</p>
  <p>CSS3 is completely backwards-compatible with earlier versions of CSS.</p>
  <p>This section teaches you about the new features in CSS3!</p>
</blockquote>

<h3>New properties</h3>
<blockquote>
  <h3><code>border-radius</code></h3>
  <div class="well" style='border-radius:15px;'>
    border-radius:15px;
  </div>
  <h3><code>box-shadow</code></h3>
  <div class="well" style='box-shadow: 0 1px 3px #999;'>
    box-shadow: 0 1px 3px #999;
  </div>
  <h3><code>box-shadow</code></h3>
  <div class="well" style="background-image: linear-gradient(#999, #eee);">
    background-image: linear-gradient(#999, #333);
  </div>
  <h3><code>transition</code></h3>
  <div style="background-color: black; color: white; padding: 15px; transition: width 1s; width: 350px;" onmouseover="$(this).css({width: '400px'});" onmouseout="$(this).css({width: '350px'});">
    transition: width 1s;<br />
    width: 350px;<br />
    &:hover { width: '400px'; }
  </div>
  <h3><code>animation</code></h3>
  <p><a href="http://anthonycalzadilla.com/css3-ATAT/index.html">AT-AT Walker</a></p>
  <h3><code>transform</code></h3>
  <a href="http://mrdoob.github.io/three.js/examples/css3d_periodictable.html">CSS3 Periodic table</a>
</blockquote>