<h1 class="page-header">HTML / CSS / JS</h1>

<h2>Goals</h2>
<ul>
  <li><h4>Distinguish the 3 components of a web page</h4></li>
</ul>

<hr>

<h3>HTML</h3>

<p>HTML tells the browser what your content means</p>
<p>HTML is semantic: it's concerned with the meaning of the content</p>

<ul>
  <li>HTML is a markup language for describing web pages.</li>
  <li>The markup tags describe the document content.</li>
  <li>HTML documents contain tags and plain text.</li>
</ul>

<pre><code>&lt;a href='/some-place'&gt;I'm a link!&lt;/a&gt;
<a href='#'>I'm a link!</a></code></pre>

<h3>CSS</h3>

<p>CSS tells the browser how it should look.</p>
<p>CSS is presentational and doesn't care about the meaning of your content.</p>

<p>
  CSS stands for <strong>C</strong>ascading <strong>S</strong>tyle<strong>s</strong>heets. It's a language for creating <strong>rules</strong> that can <strong>select</strong> various elements on the page and change their <strong>visual properties</strong>.
</p>

<pre><code>&lt;a href='/some-place' style='color:red;'&gt;I'm a styled link!&lt;/a&gt;
<a href='#' style='color:red;'>I'm a styled link!</a></code></pre>

<h3>Javascript</h3>

<p>JavaScript is the programming language of the Web. All modern HTML pages are using JavaScript.</p>
<p>Javascript helps you add behavior to your web pages by manipulating HTML and CSS.</p>

<pre><code>&lt;a onclick="var x = new Date; alert(x.toUTCString());"&gt;Click me!&lt;/a&gt;
<a onclick="var x = new Date; alert(x.toUTCString());">Click me!</a></code></pre>

<hr>

<h3>To each their purpose</h3>
<p>Consider a web page like a human body</p>
<ul>
  <li><h4>HTML is the skeleton</h4></li>
  <li><h4>CSS is the flesh</h4></li>
  <li><h4>Javascript is the movement</h4></li>
</ul>

<h3>Why separate?</h3>
<ul>
  <li>Efficiency of code: smaller files</li>
  <li>Ease of maintenance</li>
  <li>Accessibility</li>
  <li>Device compatibility</li>
  <li>It's just good practice</li>
</ul>