<h1 class="page-header">HTML5</h1>
<h3>What is it?</h3>
<blockquote>
  <p>
    HTML5 is the latest standard for HTML.
  </p>
  <ul>
    <li>New features should be based on HTML, CSS, DOM, and JavaScript</li>
    <li>The need for external plugins (like Flash) should be reduced</li>
    <li>Error handling should be easier than in previous versions</li>
    <li>Scripting has to be replaced by more markup</li>
    <li>HTML5 should be device-independent</li>
    <li>The development process should be visible to the public</li>
  </ul>
</blockquote>

<h3>New features</h3>
<blockquote>
  <p>Some of the most interesting new features in HTML5 are:</p>
  <ul>
    <li>The <code>&lt;canvas&gt;</code> element for 2D drawing</li>
    <li>The <code>&lt;video&gt;</code> and <code>&lt;audio&gt;</code> elements for media playback</li>
    <li>Support for local storage</li>
    <li>
      New content-specific elements, like <code>&lt;section&gt;</code>, <code>&lt;article&gt;</code>, <code>&lt;header&gt;</code>, <code>&lt;footer&gt;</code> and <code>&lt;nav&gt;</code>
    </li>
    <li>New form controls, like <code>calendar</code>, <code>date</code>, <code>time</code>, <code>email</code>, <code>url</code>, <code>search</code></li>
  </ul>
</blockquote>

<h3>Browser Support</h3>

<blockquote>
  <p>HTML 5 is at least partially supported by most popular layout engines.</p>
  <p>We must consider the varying browser support of the different parts of the standard as well as other functionality differences between HTML5 and Flash</p>
  <p>
    <a href="http://html5test.com/">Test your browser!</a> The HTML5 test score is an indication of how well your browser supports the upcoming HTML5 standard and related specifications.
  </p>
</blockquote>

<h3>Should I use it? YES!</h3>
<blockquote>
  <ul>
    <li><h4>You don’t need to throw anything away</h4></li>
    <li><h4>It’s easy to get started</h4></li>
    <li><h4>It already works</h4></li>
    <li><h4>It’s here to stay</h4></li>
  </ul>
</blockquote>

<h3>Get Started</h3>
<blockquote>
  <pre><code>&lt;!DOCTYPE html&gt;</code></pre>
</blockquote>