<h1 class="page-header">Front End Development in Rails</h1>
<blockquote>
  <p>
    In this lesson, we will have a look at the fundamentals of Front End development applied to Ruby on Rails.
  </p>
  <p>
    We will go over the 3 basic building blocks of the web: HTML, CSS and Javascript.
  </p>
  <p>
    Additionally, we will apply our learnings to our previously created Project Management System called Milo.
  </p>
</blockquote>
<h2>Goals</h2>
<blockquote>
  <ul>
    <li>Learn the basic Rails view helpers</li>
    <li>Use CSS to adjust the layout and style of Milo</li>
    <li>Add a navigation bar to the top with essential links</li>
    <li>Use javascript to display flash messages that disappear after 5 seconds</li>
    <li>Use AJAX techniques to post comments asynchronously</li>
    <li>Add a weather widget to our sidebar (optional)</li>
  </ul>
  <p>
    <%= image_tag 'milo.png', alt: '' %>
  </p>
</blockquote>
<h2>Meta Goals</h2>
<blockquote>
  <p>When you have completed today's goals you should understand:</p>
  <ul>
    <li>Rails Layouts & Rendering</li>
    <li>HTML & HTML5</li>
    <li>CSS, SCSS and SMACCS principles</li>
    <li>Javascript & Coffeescript</li>
    <li>jQuery DOM Manipulation</li>
  </ul>
</blockquote>

<h2>Requirements</h2>

<p>
  We're going to be working with:
</p>

<ul>
  <li>Ruby 2.1.1</li>
  <li>Rails 4.1.x</li>
  <li>Bundler</li>
  <li>sqlite</li>
  <li>Terminal</li>
  <li>Sublime Text</li>
</ul>