<h1 class="page-header">Weather Widget</h1>
<blockquote>
  <%= image_tag 'weather.png' %>
</blockquote>

<pre><code>&lt;div class='widget'&gt;
  &lt;h4&gt;Weather&lt;/h4&gt;
  &lt;p class='help-block'&gt;National and Local Weather&lt;/p&gt;
  &lt;div class='weather' data-weatherize='Montreal, Canada'&gt;
    &lt;i class='fa fa-spinner fa-3x fa-spin hide'&gt;&lt;/i&gt;
    &lt;div class='row'&gt;
      &lt;div class='col-md-6'&gt;
        &lt;div data-weather='temp_max_c'&gt;&lt;/div&gt;
        &lt;div data-weather='city'&gt;&lt;/div&gt;
        &lt;div data-weather='temp_min_c'&gt;&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class='col-md-6'&gt;
        &lt;div class='big' data-weather='temp_c'&gt;&lt;/div&gt;
        &lt;div data-weather='description'&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>